<style >
  .imgwrapper {
   width: 100%;
}
</style>
 <!-- W3 schools styles-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div ng-controller="testCtrl as test">
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
<br/>
        <h1 style="color:white;" align="center" >Testifier-Test your limits </h1>
          <!-- Button for back to dashboard -->
         <button align="right"  type="button" class="btn btn-logged btn-success" style="margin-left: 90%;margin-bottom: 1%" aria-haspopup="true" aria-expanded="false"><a style="color:white;" href="#/dashboard/{{test.userId}}">Back&nbsp;</a></button>
          <!-- End of back to dashboard -->
        </ul>
      </div>
      <br/>
</nav>


<section >
    <h1 align="center" style="color:white;">Online Tests</h1>
    <h4 align="center" style="color: #51F358;">Are you ready ?</h4>
  <br>

  <div  class="row container-fluid">
  &nbsp;
<div ng-init="test.getTests()" class="modal-body">                                 
<div class="col-sm-4 w3-card-2"  ng-repeat="test1 in test.testArray track by $index" style="width:33%;">
    <header class="w3-container w3-green">
      <h1 align="center">{{test1.testName}}</h1>
    </header>
    <div>
      <img src="img/test 4.jpg" class="imgwrapper" class="img-rounded" alt="Cinque Terre" >
    </div>
    <footer class="w3-container w3-green">
      <h5 align="center"><span align="center"><botton class="btn btn-primary idoftest"   data-id={{test1._id}} data-user={{test.userId}}><a style="color:white;"
                    id="link">Take Test!</a></botton></span></h5>
    </footer>
    <br/>
  </div>
  </div>
  </div>
  <br/>
    <script>
        $(document).on("click", ".idoftest", function() {
                var Id = $(this).data('id');
                
               // console.log(Id);
                var idOfUser = $(this).data('user');
                //console.log(idOfUser);
                location.replace('#/liveTest/'+idOfUser+'/'+Id)
            });
        </script>